input#txt3-number {
    width: 262px;
    height: 25px;
}

button#btn3-add {
    margin-top: 10px;
    width: 270px;
    height: 35px;
}

h2#fact {
    text-align: center;
    margin: 15px 0px;
}

button#btn3-calc {
    width: 270px;
    height: 35px;
}

div#result3-box {
    width: 268px;
    height: 90px;
    border: 1px solid black;
    margin: 5px 0px 4px 0px;
    overflow-y: scroll;
}

button#btn3-reset {
    width: 270px;
    height: 35px;
}