section#multiples-box {
    background: white;
    width: 270px;
    height: 330px;
    padding: 20px;
    padding-top: 30px;
    transition: all ease 0.5s;
    box-shadow: 1px 1px 3px black;
    border-radius: 3px;
    opacity: 0.8;
}

input#txt1-number {
    width: 262px;
    height: 25px;
}

button#btn1-add {
    margin-top: 10px;
    width: 270px;
    height: 35px;
}

h2#mult {
    text-align: center;
    margin: 15px 0px;
}

button#btn1-calc {
    width: 270px;
    height: 35px;
}

div#result1-box {
    width: 268px;
    height: 90px;
    border: 1px solid black;
    margin: 5px 0px 4px 0px;
    overflow-y: scroll;
}

button#btn1-reset {
    width: 270px;
    height: 35px;
}